
.bt-gradient {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, rgba(36, 67, 177, 0.71) 0%, rgba(255,255,255,0) 91%);
}

.button1 {
    -fx-background-color: #8C4AF2;
    -fx-text-fill: white ;
    -fx-font-weight: bold;
}
.button1:hover {
    -fx-background-color: white;
    -fx-text-fill: #8C4AF2 ;
    -fx-font-weight: bold;
    -fx-border-color: #8C4AF2;
}
.AncerPan{
    -fx-border-radius: 3px;
    -fx-padding: 15px;

}

.Backgrount1 {
    -fx-background-color: rgb(140, 83, 230); /* Fallback color */
    -fx-background-color: linear-gradient(to bottom right, rgba(140, 83, 230, 1) 0%, rgba(107, 86, 246, 1) 100%);
    -fx-background-radius: 10px;
    -fx-padding: 15px;
}
/* Background color for the sidebar */
.sidebar {
    -fx-background-color: #6c3bbd; /* Purple background color */
    -fx-pref-width: 200px;
}

/* Main Menu text styling */
.main-menu {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

/* Style for buttons or menu items */
.menu-item {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-padding: 8px 15px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.menu-item:hover {
    -fx-background-color: #8a4dd8;
}

.menu-item:selected {
    -fx-background-color: #E0C2FF;
    -fx-text-fill: #6C3BBD;
}

.logout-button {
    -fx-background-color: #e0c2ff;
    -fx-text-fill: #6c3bbd;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-padding: 8px 15px;
    -fx-border-radius: 10px;
}

.logout-button:hover {
    -fx-background-color: #cdb5e0;
}


.user-info {
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.butMenu {
    -fx-text-fill: #ffffff;
    -fx-font-size: 17px;
    -fx-border-radius:3px;
    -fx-border-color: #7367F0;
    -fx-padding: 5px;
    -fx-font-weight: bold;
    -fx-background-color: #7367F0;
}
.butMenu:hover {
    -fx-background-color: #ffffff;
    -fx-border-width: 3px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, #7367f0 0%, #7367f0 100%);
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #7367f0 0%, #7367f0 100%);
}

/*.butMenu:focused{*/
/*    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #74e653 0%,#00f4bc 100%);*/
/*    -fx-padding: 8px 15px;*/
/*    -fx-text-fill: black;*/
/*}*/

.Loginbut {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-border-radius:10;
    -fx-background-radius: 10;
    /*-fx-padding: 15;*/
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 5);
    -fx-border-color: #293e75;
    /*-fx-padding: 5px;*/
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to right, #090973, #1e90ff);

}
.Loginbut:hover {
    -fx-background-color: #ffffff;
    -fx-border-width: 2px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, #293e75 0%, #293e75 100%);
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, #293e75 0%, #293e75 100%);

}



/*-fx-border-radius: 10;*/
/*-fx-background-radius: 10;*/
/*-fx-padding: 15;*/
/*-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 5);*/
